<article class="listproject" id="item_{{ id }}" data-type="{{ meta_type.title }}" data-status="{{ meta_status }}">
	<div class="inner">
		<a href="{{ url }}" title="{{ title }}">
			<img src="{{ image.url }}" alt="{{ image.desc }}">
		</a>
		<div class="listproject__desc">
			<h2>
				<a href="{{ url }}" title="{{ title }}">
					{{ title }}
				</a>
			</h2>
			<span class="meta_type">
				{{# meta_type.url }}
				<a href="{{ meta_type.url }}" title="{{ meta_type.title }}">
					{{ meta_type.title }}
				</a>
				{{/ meta_type.url }}
				{{^ meta_type.url }}
				{{ meta_type.title }}
				{{/ meta_type.url }}
			</span>
		</div>
	</div>
</article>