<article class="project" data-type="{{ meta_type.title }}" data-status="{{ meta_status }}">
	<div class="inner">
		<img src="{{ image.url }}" alt="{{ image.desc }}">
		<div class="project__desc">
			<h1>
				<a href="{{ url }}" title="{{ title }}">
					{{ title }}
				</a>
			</h1>
			<span class="meta_type">
				{{#meta_type.url}}
				<a href="{{ meta_type.url }}" title="{{ meta_type.title }}">
					{{ meta_type.title }}
				</a>
				{{/meta_type.url}}
				{{^meta_type.url}}
				{{ meta_type.title }}
				{{/meta_type.url}}
			</span>
		</div>
	</div>
</article>