	<article>
	<h1>{{ title }}</h1>
	<div class="content">
		{{{ content }}}
	</div>
	<footer>
		<span class="date">{{ date }}</span> | <span class="js-togglenews">Weiterlesen</span>
	</footer>
	</article>