<section class="news-wrapper">
	<h2 class="side-headlines">{{ newslist.title }}</h2>
	<div class="articles">
	{{# news }}
		{{> news }}
	{{/ news }}
	{{^ noAjax }}
	<a href="{{ newsfolder.url }}" data-page="1" data-lastpage="{{ lastpage }}" class="js-load-news load-news">Zum Archiv</a>
	{{/ noAjax }}
	</div>
</section>