<section class="partner">
	<header>
		<h2 class="headline_2 no-margin">{{ title }}</h2>
		<span class="position">({{ position }})</span>
		<span class="degree">{{ degree }}</span>
	</header>
	{{{ text }}}
</section>