	<article class="news {{# inlist }}closed{{/ inlist }}">
		<h3 class="h4">
			<a href="{{ url }}" title="{{ title }}"></a>
				{{ title }}
			</a>
		</h3>
		<div class="content">
			{{{ content }}}
		</div>
		<footer>
			<span class="gray-text">
				<span class="date">{{ date }}</span> 
				&middot; <span>Erschienen in: {{ publisher }}</span> 
				{{# original }}&middot; <a href="{{ original.url }}" target="_blank">Orginal downloaden</a>{{/ original }}
			</span>
			{{^ notoggle }}
			<a class="js-togglenews button align-right" href="{{ url }}">Artikel lesen</a>
			{{/ notoggle }}
		</footer>
	</article>