<article class="project" data-type="{{ meta_type }}" data-status="{{ meta_status }}">
	<div class="inner">
		<img src="{{ image.url }}" alt="{{ image.desc }}">
		<div class="project__desc">
			<h1>{{ title }}</h1>
			<span class="meta_type">
				{{ meta_type }}
			</span>
		</div>
	</div>
</article>