<h1 class="is-vishidden">{{ title }}</h1>
<form class="filter-form">
	<div class="totheright">
		<input type="text" placeholder="Suche…">
	</div>
</form>
<ul class="gridlist">
{{#projects}}
	<li>{{> listproject}}
{{/projects}}
</ul>