<h1>{{ title }}</h1>
<form>
	<select>
		<option></option>
		{{#status}}
		<option>{{.}}</option>
		{{/status}}
	</select>
	<input type="text" placeholder="Suche…">
</form>
<ul class="gridlist">
{{#projects}}
	<li>{{> project}}
{{/projects}}
</ul>