<div class="project">
	<div class="project__header">
		<h1 class="headline_1">{{ title }}</h1>
		<p class="headline_3">{{ subhead }}</p>
	</div>

	<div class="project__info">
		<div class="project__image">
		{{# images }}
			{{# first }}
			<img class="project__highlight" src="{{ url }}">
			{{/ first }}
			{{# second }}
			<img class="project__highlight" src="{{ url }}">
			{{/ second }}
		{{/ images }}
		</div>

		<div class="project__text">
			{{{ text }}}
		</div>
	</div>

	{{> meta }}

	<div class="project__gallery">
	{{# images }}
		{{# gallery }}
		<img src="{{ url }}">
		{{/ gallery }}
	{{/ images }}
	</div>
</div>