<div class="canvas">
</div>

<h1 class="is-vishidden">{{ title }}</h1>

<section class="news-wrapper">
	<h2 class="is-vishidden">News</h2>
	<div class="articles">
	{{#news}}
		{{> news}}
	{{/news}}
	</div>
</section>