<h1>{{ title }}</h1>
<form>
	<select>
		<option></option>
		{{#types}}
		<option>{{title}}</option>
		{{/types}}
	</select>
	<select>
		<option></option>
		{{#status}}
		<option>{{.}}</option>
		{{/status}}
	</select>
	<input type="text" placeholder="Suche…">
</form>
<ul class="gridlist">
{{#projects}}
	{{# inactive }}
	<li class="inactive">
	{{/ inactive }}
	{{^ inactive }}
	<li>
	{{/ inactive }}
		{{> listproject}}
{{/projects}}
{{^projects}}
	<li>
		<p>Nothing found.</p>
{{/projects}}
</ul>