<h1 class="is-vishidden">{{ title }}</h1>
<form class="filter-form">
	<div class="totheright">
		<input type="text" placeholder="Suche…">
	</div>
</form>
<ul class="gridlist">
{{#projects}}
	{{^ inactive }}
	<li>
		{{> listproject}}
	{{/ inactive }}
{{/projects}}
{{^projects}}
	<li>
		<p>Nothing found.</p>
{{/projects}}
</ul>


<ul class="gridlist gridlist--inactive">
{{#projects}}
	{{# inactive }}
	<li>
		{{> listproject}}
	{{/ inactive }}
{{/projects}}
</ul>