<h1 class="is-vishidden">{{ title }}</h1>

<div class="intro">
	{{{ intro }}}
</div>

<img src="{{ image.url }}" alt="{{ image.desc }}">

{{# profile }}
	<h2>{{ title }}</h2>
	{{{ text }}}
{{/ profile }}

{{# philosophy }}
	<h2>{{ title }}</h2>
	{{{ text }}}
{{/ philosophy }}

{{# quality }}
	<h2>{{ title }}</h2>
	{{{ text }}}
{{/ quality }}

{{# services }}
	<h2>{{ title }}</h2>
	{{{ text }}}
{{/ services }}