<h1 class="is-vishidden">{{ title }}</h1>

<div class="intro">
	{{{ intro }}}
</div>

<img src="{{ image.url }}" alt="{{ image.desc }}">

<div class="services__above">
	{{# profile }}
	<div class="{{ title }} services--half">
		<h2>{{ title }}</h2>
		{{{ text }}}
	</div>
	{{/ profile }}

	{{# philosophy }}
	<div class="{{ title }} services--half">
		<h2>{{ title }}</h2>
		{{{ text }}}
	</div>
	{{/ philosophy }}
</div>

<hr>

{{# quality }}
<div class="{{ title }} services--full">
	<h2>{{ title }}</h2>
	{{{ text }}}
</div>
{{/ quality }}

{{# services }}
<div class="{{ title }} services--full">
	<h2>{{ title }}</h2>
	{{{ text }}}
</div>
{{/ services }}