<h1>{{ title }}</h1>

<div class="intro">
	{{{ intro }}}
</div>

{{# teams}}
<h2 class="h5">{{ title }}</h2>
<table class="{{ name }}">
{{# items }}
	<tr>
		<td>{{ name }}</td>
		<td>{{ email }}</td>
	</tr>
{{/ items }}
</table>
{{/ teams}}