<div class="intro">
	{{{ intro }}}
</div>

<h1 class="headline_1">{{ title }}</h1>
<div class="teamslist">
	{{# teams}}
	<div class="teamslist--item">
		<h2 class="headline_3">{{ title }}</h2>
		<table class="table-40-60 {{ name }}">
		{{# items }}
			<tr>
				<td>{{ name }}</td>
				<td>{{ email }}</td>
			</tr>
		{{/ items }}
		</table>
	</div>
	{{# break_after }}
	<hr />
	{{/ break_after }}
	{{/ teams}}
</div>