$baseMaxWidth: 1100px;
$mobilePadding: 10px;

$responsive: true;
$mobile-first: true;
$gutter: 20px;
$use-silent-classes: true;

$push: true;
$pull: true;

$use-markup-fix: true;

$breaks: (520px, 650px, 850px, 1100px, 1300px);

$breakpoints: ();
$breakpoint-has-widths: ('bp0');
$first: 'bp0' '(max-width: 480px)';
$breakpoints: append($breakpoints, $first, "comma");

@for $i from 1 through length($breaks) {
	$break: nth($breaks, $i);

	// From Break
	$value: 'bp#{$i}' '(min-width: #{$break})';
	$breakpoints: append($breakpoints, $value, "comma");
	$breakpoint-has-widths: append($breakpoint-has-widths, 'bp#{$i}', 'space');

	// To Break
	$value: 'to-bp#{$i}' '(max-width: #{$break - 1px})';
	$breakpoints: append($breakpoints, $value, "comma");
	$breakpoint-has-widths: append($breakpoint-has-widths, 'bp#{$i}', 'space');

	// Only till next
	@if $i != length($breaks) {
		$next: nth($breaks, $i + 1);
		$value: 'bp#{$i}-only' '(min-width: #{$break})(max-width: #{$next - 1px})';
		$breakpoints: append($breakpoints, $value, "comma");
	}
}

$breakpoint-has-push:	("bp3");
$breakpoint-has-pull:	();