.filter-form{
	@extend %grid;
	margin-top: 6em;
	margin-bottom: 3em;

	.totheright{
		@extend %grid__item;
		@extend %bp1--one-half;
		@extend %push--bp1--one-half;
		@extend %bp3--one-third;
		@extend %push--bp3--two-thirds;
	}

	input{
		width: 100%;
	}
}