//------------------------------------------------------------------------------
//
//  Mainnav
//
//------------------------------------------------------------------------------

.mainnav{
	margin-bottom: 1em;

	a{
		text-decoration: none;

		&:hover,
		&:focus{
			text-decoration: underline;
		}
	}

	ul{
		@extend %resetList;
		position: relative;
	}

	&__firstlevel > li{

		& > a{
			@extend %uppercase;
		}

		max-width: 120px;
	}

	li{

		&.active > a{
			font-weight: bold;
		}

		&.active .nav-aside{
			display: block;
		}

		&:hover .nav-aside{
			display: block;
			background-color: $bgColor;
			z-index: 2;
			height: 8 * 1.4em;
			min-width: 120px;
		}

		.nav-aside{
			display: none;
			position: absolute; 
			left: 120px;
			bottom: 0;
			padding-left: 30px;

			ul{
				position: absolute;
				bottom: 0;
			}
		}
	}
}