//------------------------------------------------------------------------------
//
//  Mainnav
//
//------------------------------------------------------------------------------

.mainnav{
	position: relative;
	border-top: 1px solid lighten($borderColor, 90);
	border-bottom: 1px solid lighten($borderColor, 90);
	margin-top: 3em;
	margin-bottom: 1em;
	height: 3em;
	overflow: hidden;

	&--open{
		height: auto;
	}

	.mobileToggle{
		@extend %uppercase;
		line-height: 3em;
		background-color: $bgColor;

		&::after{
			content: "v";
			float: right;
			color: $fontLightGray;
		}
	}

	a{
		text-decoration: none;

		&:hover,
		&:focus{
			text-decoration: underline;
		}
	}

	ul{
		@extend %resetList;
		position: relative;
	}

	li{
		border-top: 1px solid lighten($borderColor, 90);
		line-height: 1em;
		padding: 1em 0;
		vertical-align: middle;
	}

	&__secondlevel{
		position: relative;
		top: 1em;
	}

	&__secondlevel > li{
		padding-left: 2em;
	}
}

@include grid-media-query("bp2"){

	.mainnav{
		margin-top: 8em;
		height: auto;
		border: 0;
		overflow: visible;

		li{
			margin: 0;
			padding: 0;
			border: 0;
			line-height: 1.4;
		}

		.mobileToggle{
			display: none;
		}

		&__secondlevel{
			position: static;
			top: auto;
		}

		&__firstlevel > li{

			& > a{
				@extend %uppercase;
			}

			max-width: 120px;
		}

		li{

			&.active > a{
				font-weight: bold;
			}

			&.active .nav-aside{
				display: block;
			}

			&:hover .nav-aside{
				display: block;
				background-color: $bgColor;
				z-index: 2;
				height: 8 * 1.4em;
			}

			.nav-aside{
				min-width: 400px; 
				display: none;
				position: absolute; 
				left: 120px;
				bottom: 0;
				padding-left: 30px;

				ul{
					position: absolute;
					bottom: 0;
				}
			}
		}
	}

	a[data-template="project-archive"]{
		display: inline-block;
		margin-top: .5em;
	}

}