.news{
	padding-top: 4em;
	padding-bottom: 1em;

	.js-togglenews{
		text-decoration: none;
		&:hover,
		&:focus{
			text-decoration: underline;
		}
		&:active{
			text-decoration: none;
		}
	}

	.articles &{
		border-bottom: 1px solid $fontLightGray;
	}

	.content{
		overflow: hidden;
	}

	.h4{
		@extend %uppercase;
		font-weight: normal;
	}

	.date, .gray-text, .gray-text a{
		@include fontSize(11px);
		color: $fontLightGray;
	}

	.button{
		@extend %uppercase;
	}

	.articles &:first-child{
		border-top: 1px solid black;
	}

	&.closed > .content{
		height: 0;
	}
}

@include grid-media-query("bp2"){
	.article-aside{
		margin-left: 250px;
	}
}

.gray-text, .gray-text a{
	color: $fontLightGray;
}

.article-aside .news,
.article-aside p:first-child{
	padding-top: 0;
	margin-top: 0;
}

.load-news{
	display: inline-block;
	width: 100%;
	background-color: white;
	text-decoration: none;

	padding: 1em 0;
	text-align: center;
	margin-top: 3em;

	@extend %uppercase;
}