.articles,
.slide-wrapper{
	margin-left: 250px;
}

.side-headlines{
	@extend .headline_3;
	@include fontSize(12px);
	height: 0;
	margin-bottom: .4em;
	max-width: 230px;

	a{
		text-decoration: none;
	}
}

.slideshow{
	position: relative;

	margin-bottom: 4em;
}


.slide .side-headlines{
	position: absolute;
	left: 0;
}