.articles,
.slide-wrapper{
	margin-left: 250px;
}

.side-headlines{
	@extend .headline_3;
	height: 0;
	margin-bottom: .4em;
	max-width: 250px;
}

.slideshow{
	position: relative;
}

.slide .side-headlines{
	position: absolute;
	left: 0;
}