.partners{
	@extend %grid;

	& > li{
		@extend %grid__item;
		@extend %bp3--one-third;
	}
}


.flexbox .partners{
	display: flex;
	flex-wrap: wrap;

	& > li{
		&:first-child{
			order: 2;
		}
		&:last-child{
			order: 2;
		}

	}
}

@include grid-media-query("bp3"){
	.position{
		display: none;
	}
}

@include grid-media-query("bp3"){
	.flexbox .partners > li{
		order: 0 !important;
	}
}