.teamslist{
	column-count: 1;

	&--item{
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
		padding-top: 1px;
		margin-bottom: 2em;

		& > h2{
			margin-bottom: 0.5em;
		}
	}

	hr{
		visibility: hidden;
		margin: 0;
		padding: 0;
		height: 0;
		-webkit-column-break-after: always;
		page-break-after: always;
		break-after: always;
	}
}

@include grid-media-query("bp3"){
	.teamslist{
		column-count: 2;
	}
}