h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	line-height: 1.1;
}

h1, .h1{
	@include fontSize(26px);
}

h2, .h2{
	@include fontSize(23px);
}

h3, .h3{
	@include fontSize(21px);
}

h4, .h4{
	@include fontSize(18px);
}

h5, .h5{
	@include fontSize(16px);
}

h6, .h6{
	@include fontSize(14px);
}

.headline_1{
	@include fontSize(21px);
	font-weight: bold;
}

.headline_2{
	@include fontSize(18px);
	@extend %uppercase;
	font-weight: normal;
}

.headline_3{
	@include fontSize(14px);
	@extend %uppercase;
	font-weight: normal;
}

.no-margin{
	margin-bottom: 0;
}