table{
	width: 100%;
	margin-bottom: 1em;
}

.table-1-1{
	td:first-child, td:last-child{
		width: 50%;
	}
}

.table-1-2{
	td:first-child{
		width: 33.3333%
	}
	td:last-child{
		width: 66.6666%;
	}
}

.table-40-60{
	td:first-child{
		width: 40%
	}
	td:last-child{
		width: 60%;
	}
}