.slideshow{
	img{
		display: block;
	}

	.slide{
		display: none;

		&:first-child{
			display: block;
		}

		&--hidden{
			display: none;
		}

		&--absolute{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}